<div class="container">
<% if logged_in? %>

<p id="notice"><%= notice %></p>

<h4>Artists</h4>

<table class="table table-hover table table-bordered">
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Name</th>
      <th><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>Url</th>
      <th><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Last modified</th>
      <th colspan="2"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>Maintenance</th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.url %></td>
        <td><%= artist.last_modified %></td>
        <!-- <td><%= link_to 'Show', artist %></td> -->
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Artist', new_artist_path %>

<% else %>
<% end %>

</div>
